<div class="ekart--product--details--info scroll">
    <div class="ekart-product-detail-close">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>

    <div>
        <!-- image -->
    </div>

    <div class="ekart-product-detail">
        <div class="ekart-product-detail-name">
            <h2>{{producted.brand}}</h2>
        </div>



        <div class="ekart-product-detail-gbc">
            <!-- we are using property binding to call setBackground alias in the Input decorators  -->
            <span [setBackground]="{backColor: 'red', textColor:'white'}">  {{"Located in: " + producted.location}} </span><br>
            <span [setBackground]="{backColor: 'black', textColor:'white'}">{{"Sneaker Brand: " + producted.brand}}</span><br>
            <span [setBackground]="{backColor: 'blue', textColor:'white'}"> {{"Price: $" + producted.price}}</span>
        </div>



        <div class="ekart-product-detail-price">
            <p *ngIf="producted.inStock">
                <b>Price Each Pair: </b>
                <span style="background-color: green; color: white;">{{"$" + producted.price}}</span> (Inclusive of all taxes)
            </p>
            <p *ngIf="!producted.inStock">
                <b>Price Each Pair: </b>
                <span style="background-color: red; color:white"><s>{{"$" + producted.price}}</s></span>
                <span style="background-color: green; color: white;">{{"$" + producted.price}}</span> (Inclusive of all taxes)
            </p>


        </div>
        <div class="ekart-product-detail-size">
            <div style="padding: 5px 0px; border-bottom: #ccc 2px solid;">
                <h4>Available Size</h4>
            </div>
            <div style="margin-top: 20px">
                <!-- This button element is the host element for the appHover director -->
                <button appHover>ADD TO CART</button>
            </div>
        </div>
    </div>
</div>