<div class="ekart--product--details--info scroll">
    <div class="ekart-product-detail-close">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>

    <div>
        <!-- image -->
    </div>

    <div class="ekart-product-detail">
        <div class="ekart-product-detail-name">
            <h2>{{producted.brand}}</h2>
        </div>
        <div class="ekart-product-detail-gbc">
            <span setBackground>{{"Located in: " + producted.location}} </span><br>
            <span setBackground>{{"Sneaker Brand: " + producted.brand}}</span><br>
            <span setBackground> {{"Price: $" + producted.price}}</span>
        </div>
        <div class="ekart-product-detail-price">
            <p *ngIf="producted.inStock">
                <b>Price Each Pair: </b>
                <span style="background-color: green; color: white;">{{"$" + producted.price}}</span> (Inclusive of all taxes)
            </p>
            <p *ngIf="!producted.inStock">
                <b>Price Each Pair: </b>
                <span style="background-color: red; color:white"><s>{{"$" + producted.price}}</s></span>
                <span style="background-color: green; color: white;">{{"$" + producted.price}}</span> (Inclusive of all taxes)
            </p>


        </div>
        <div class="ekart-product-detail-size">
            <div style="padding: 5px 0px; border-bottom: #ccc 2px solid;">
                <h4>Available Size</h4>
            </div>
            <div style="margin-top: 20px">
                <span class="ekart-product-detail-available-size">6</span>
                <span class="ekart-product-detail-available-size">7</span>
                <span class="ekart-product-detail-available-size">8</span>
                <span class="ekart-product-detail-available-size">9</span>
            </div>
        </div>
    </div>
</div>