<div class="ekart--product--container">
    <app-search (SearchTextChange)="setSearchText($event)"></app-search>
    
    <div style="margin-bottom: 20px;">
    <app-filter 
    [allBrands]="totalProdCount" 
    [priceOver]="productInStock"
    [priceUnder]="productNotInStock" 
    (selectedFilterRadioButtonChanged)="onFilterChanged($event)"
    ></app-filter>
    </div>

    
    <!-- [product]="prod" app-product *ngIf="selectedFilterRadioButton === 'all' || prod.inStock.toString() === selectedFilterRadioButton" -->
    <div *ngFor="let prod of products" (click)="selectedProduct = prod">
        <app-product #productComponent [searchText]="searchText" [product]="prod" *ngIf="searchText === '' || prod.brand.toLowerCase().includes(searchText)"></app-product>
        <product-detail *ngIf="selectedProduct"></product-detail>
    </div>
    
</div>